<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<!--<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="cadena_conexion" value="server=.\SQLEXPRESS; database=DB_SISTEMA_VENTA; integrated security=true" />
	</appSettings>-->
	

</configuration>